.navbar-nav {
    margin-left: auto;
    font-family: "Roboto Slab";
}

.navbar-brand {
    font-weight: 500;
    font-size: 29px;
}

#main-container {
    min-height: 82vh;
}

footer {
    color: #fff;
    background-color: #222;
    padding-top: 50px;
}

.copyright p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
}