{% extends "template.html" %}
{% block content %}
    <h4 class="mt-5"><strong>COVID-19 vaccination will be an important tool to help stop the pandemic</strong></h4>
    <p class="text-justify">Wearing masks and staying 6 feet apart from others help reduce your chance of being exposed to the virus or spreading it to others, but these measures are not enough. Vaccines will work with your immune system so it will be ready to fight the virus if you are exposed.</p>
    <p class="text-justify">A growing body of evidence suggests that fully vaccinated people are less likely to be infected without showing symptoms (called an asymptomatic infection) and potentially less likely to spread the virus that causes COVID-19 to others. However, further investigation is ongoing.</p>
    <p class="text-justify">Stopping a pandemic requires using all the tools we have available. As experts learn more about how COVID-19 vaccination may help reduce spread of the virus that causes COVID-19.</p>

    <h4 class="mt-5"><strong>Once you are fully vaccinated, you can start doing more</strong></h4>
    <p class="text-justify">After you are fully vaccinated for COVID-19, you may be able to start doing some things that you stopped doing because of the pandemic. For example, you can gather indoors without masks with other people who are fully vaccinated.</p>
    <p class="text-justify">We are still learning how vaccines will affect the spread of COVID-19. Until we know more about how vaccines will affect the spread of COVID-19, people who are fully vaccinated against COVID-19 should keep taking precautions in public places like wearing a mask, staying 6 feet apart from others, avoiding crowds and poorly ventilated spaces, and washing your hands often.</p>

    <div class='embed-container'><iframe src='https://www.youtube.com/embed/0AssZJ0N2Ls' allowfullscreen></iframe></div>
{% endblock %}